.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

/* Fixing the button mysterious margin */
body {
	  font-family: 'lato', 'Dosis', sans-serif;
		font-size: 0.9rem;
		color:white;
		font-weight: bold;
		position: relative;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		min-height: 100%;
}
html{
  height: 100%;
}

body::after {
  content: "";
  background: url(../images/seats.jpg) no-repeat center center;
  background-size:cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: grayscale(0.6);
}


#filters {
	margin-top: 80px;

}

.f-button {
  margin-left:0px;
  margin-right: 0px;
  float:left;
  white-space: nowrap;
	opacity: 1;
}
.f-button:hover {
	opacity: 0.75;
}

.filter-row {
    margin-bottom: 15px;
		overflow:hidden;
}

/*Horizontally aligning */
section {
   margin: 0 auto;
}

#generate {
	text-align: center;
	height:100px;
}

#nav {
	margin-bottom:20px;

}
#title  {
  text-align: center;
}

#title h1 {
	font-size:2rem;
}

#infoIcon {
  float:right;
	min-width: 50px;
}

#plus {
	float:right;
	background-color: transparent;
	cursor: pointer;
	outline:0;
}

.f-button {
	-moz-box-shadow: 0px 2px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 2px 0px 0px #1c1b18;
	box-shadow: 0px 2px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	cursor:pointer;
	color:black;
	font-family:"Lato";
	font-size:15px;
	font-weight:600;
	padding:10px 16px;
	text-decoration:none;
}

#generateBtn {
	-moz-box-shadow: 0px 2px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 2px 0px 0px #1c1b18;
	box-shadow: 0px 2px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border-radius:23px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Verdana;
	font-size:23px;
	font-weight:bold;
	padding:10px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#generateBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}
#generateBtn:active {
	position:relative;
	top:3px;
}

.f-button:active {
	position:relative;
	top:2px;
}
